<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img [src]="ImgPath" alt="Image" id="logo" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/create">Create Bug</a></li>
        <li class="active"><a routerLink="/search">Search Bug</a></li>
        <li><a>Update Bug</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" style="background-color: #f8f9fa">
  <div class="row content" style="text-align: center">
    <div id="bugDetails" style="background-color: #f8f9fa">
      <div
        class="col-sm-12 text-left"
        id="column1"
        style="background-color: #f8f9fa"
      >
        <div id="bugFields" class="column form-group">
          <label>Enter Bug Name:</label>
          <input
            [(ngModel)]="bug.name"
            class="form-control"
            name="name"
            maxlength="20"
            (keyup)="this.valueCheck()"
          />
          <div id = "text"><span id="charName">20</span><i> characters remaining</i></div>
          <br />
          <button class="submitButton" (click)="this.getBugsByName(bug.name)">
            SEARCH BUG
          </button>
          <br />
          <br />
        </div>

        <div
          class="column form-group"
          id="column2"
          style="background-color: #f8f9fa"
        >
          <label>Select Status:</label>
          <select
            [(ngModel)]="bug.status"
            name="status"
            id="status"
            class="form-control"
          >
            <option>NEW</option>
            <option>ASSIGNED</option>
            <option>OPEN</option>
            <option>FIXED</option>
            <option>PENDING_RETEST</option>
            <option>RETEST</option>
            <option>REOPEN</option>
            <option>VERIFIED</option>
            <option>CLOSED</option>
            <option>REJECTED</option>
            <option>DUPLICATE</option>
            <option>DEFERRED</option>
            <option>NOT_A_BUG</option>
            <option>COULD_NOT_REPRODUCE</option>
            <option>WONT_FIX</option>
            <option>NEED_MORE_INFO</option>
          </select>
          <br />
          <br />
          <button
            class="submitButton"
            (click)="this.getBugsByStatus(bug.status)"
          >
            SEARCH BUG
          </button>
        </div>
      </div>
    </div>
    <br />
    <div id="updateFields">
      <div id="showBugData">
        <table class="table table-bordered">
          <thead>
            <td><b>ID</b></td>
            <td><b>Name</b></td>
            <td><b>Priority</b></td>
            <td><b>Module</b></td>
            <td><b>Type</b></td>
            <td><b>Status</b></td>
            <td><b>Build Version</b></td>
            <td><b>Severity</b></td>
          </thead>
          <tbody>
            <tr *ngFor="let bug of bugArray">
              <td>{{ bug.id }}</td>
              <td>{{ bug.name }}</td>
              <td>{{ bug.priority }}</td>
              <td>{{ bug.module }}</td>
              <td>{{ bug.type }}</td>
              <td>{{ bug.status }}</td>
              <td>{{ bug.buildVersion }}</td>
              <td>{{ bug.severity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
