<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img [src]="ImgPath" alt="Image" id="logo" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a routerLink="/create">Create Bug</a></li>
        <li><a routerLink="/search">Search Bug</a></li>
        <li class="active" routerLink="/update"><a>Update Bug</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" style="background-color: #f8f9fa">
  <div class="row content" style="text-align: center">
    <div style="text-align: center; margin-top: 20px">
      <input [(ngModel)]="bug.name" name="name" placeholder="Enter Bug Name" />
      <button id="getBug" (click)="this.getBug()">Get Bug</button>
      <br />
    </div>
    <div id="bugDetails" style="background-color: #f8f9fa">
      <form class="form-horizontal">
        <div
          class="col-sm-12 text-left"
          id="column1"
          style="background-color: #f8f9fa"
        >
          <div id="bugFields" class="column form-group">
            <label>Bug Priority: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="bug.priority"
              name="priority"
              id="priority"
              class="form-control"
              name="priority"
            >
              <option>LOW</option>
              <option>MEDIUM</option>
              <option>HIGH</option>
            </select>
            <br />
            <label>Module <span style="color:red">*</span></label>
            <input
              [(ngModel)]="bug.module"
              class="form-control"
              name="module"
            />
            <br />
            <label>Bug Type: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="bug.type"
              name="type"
              id="type"
              class="form-control"
              name="type"
            >
              <option>LOGICAL</option>
              <option>SYNTAX</option>
              <option>API</option>
              <option>GUI</option>
              <option>RUNTIME</option>
            </select>
            <br />
            <label>Bug Status: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="bug.status"
              id="status"
              class="form-control"
              name="status"
            >
              <option>NEW</option>
              <option>ASSIGNED</option>
              <option>OPEN</option>
              <option>FIXED</option>
              <option>PENDING_RETEST</option>
              <option>RETEST</option>
              <option>REOPEN</option>
              <option>VERIFIED</option>
              <option>CLOSED</option>
              <option>REJECTED</option>
              <option>DUPLICATE</option>
              <option>DEFERRED</option>
              <option>NOT_A_BUG</option>
              <option>COULD_NOT_REPRODUCE</option>
              <option>WONT_FIX</option>
              <option>NEED_MORE_INFO</option>
            </select>
            <br />
            <label>ETA: <span style="color:red">*</span></label>
            <input
              [(ngModel)]="bug.eta"
              type="date"
              class="form-control"
              name="submitOn"
            />
            <br />
            <label>Build Version:</label>
            <input
              [(ngModel)]="bug.buildVersion"
              class="form-control"
              name="buildVersion"
            />
            <br />
          </div>

          <div
            class="column form-group"
            id="column2"
            style="background-color: #f8f9fa"
          >
            <label>Severity: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="bug.severity"
              name="severity"
              id="severity"
              class="form-control"
              name="severity"
            >
              <option>LOW</option>
              <option>MINOR</option>
              <option>MAJOR</option>
              <option>CRITICAL</option>
              <option>BLOCKER</option>
            </select>
            <br />
            <label>Project ID: <span style="color:red">*</span></label>
            <input
              [(ngModel)]="bug.projectId"
              class="form-control"
              name="projectId"
            />
            <br />
            <label>Developer ID:</label>
            <input
              [(ngModel)]="bug.developerId"
              class="form-control"
              name="developerId"
            />
            <br />
            <label>Tester ID:</label>
            <input
              [(ngModel)]="bug.testerId"
              class="form-control"
              name="testerId"
            />
            <br />
            <label>Synopsis: <span style="color:red">*</span></label>
            <textarea
              [(ngModel)]="bug.synopsis"
              name="synopsis"
              id="synopsis"
              rows="2"
              cols="30"
              class="form-control"
              maxlength="50"
              (keyup)="this.valueCheckSynopsis()"
            ></textarea>
            <div id="text1">
              <span id="charSynopsis">50</span> <i> characters remaining</i>
            </div>
            <br />
            <label>Description: <span style="color:red">*</span></label>
            <textarea
              [(ngModel)]="bug.description"
              name="description"
              id="description"
              rows="4"
              cols="30"
              class="form-control"
              maxlength="200"
              (keyup)="this.valueCheckDescription()"
            ></textarea>
            <div id="text2">
              <span id="charDescription">200</span> <i> characters remaining</i>
            </div>
          </div>
        </div>
      </form>
      <br />
    </div>
    <button class="submitButton" (click)="this.update()">UPDATE BUG</button>
  </div>
</div>
