h2{
  text-align: center;
  margin:30px;
  text-decoration: underline;
}

div{
  text-align: left;
}

button{
  width: 75%;
  background-color: white;
}

.container{
  text-align: center;
  background-color: lavender;
}
