<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img [src]="ImgPath" alt="Image" id="logo" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/create">Create Bug</a></li>
        <li><a routerLink="/search">Search Bug</a></li>
        <li><a routerLink="/update">Update Bug</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" style="background-color: #f8f9fa">
  <div class="row content" style="text-align: center">
    <div id="bugDetails" style="background-color: #f8f9fa">
      <form class="form-horizontal">
        <div
          class="col-sm-12 text-left"
          id="column1"
          style="background-color: #f8f9fa"
        >
          <div id="bugFields" class="column form-group">
            <label>Bug Name: <span style="color:red">*</span></label>
            <input [(ngModel)]="bug.name" class="form-control" name="name" maxlength = "100" (keyup) = "valueCheckName()" (blur) = "hide()"/>
            <div id="text3">
              <span id="charName">100</span> <i> characters remaining</i>
            </div>
            <label>Bug Priority: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="priority"
              name="priority"
              id="priority"
              class="form-control"
              name="priority"
              (change) = "selectChangePriority(this.priority)"
            >
              <option *ngFor="let name of priorityKeys" [value]="name">
                {{ priorityEnum[name] }}
              </option>
            </select>
            <br />
            <label>Module <span style="color:red">*</span></label>
            <input
              [(ngModel)]="bug.module"
              class="form-control"
              name="module"
            />
            <br />
            <label>Bug Type: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="type"
              name="type"
              id="type"
              class="form-control"
              name="type"
              (change) = "selectChangeType(this.type)"
            >
              <option *ngFor="let name of typeKeys" [value]="name">
                {{ typeEnum[name] }}
              </option>
            </select>
            <br />
            <label>Bug Status: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="status"
              id="status"
              class="form-control"
              name="status"
              (change) = "selectChangeStatus(this.status)"
            >
              <option *ngFor="let name of statusKeys" [value]="name">
                {{ statusEnum[name] }}
              </option>
            </select>
            <br />
            <label>ETA: <span style="color:red">*</span></label>
            <input
              [(ngModel)]="bug.eta"
              type="date"
              class="form-control"
              name="submitOn"
            />
            <br />
            <label>Build Version:</label>
            <input
              [(ngModel)]="bug.buildVersion"
              class="form-control"
              name="buildVersion"
            />
            <br />
          </div>

          <div
            class="column form-group"
            id="column2"
            style="background-color: #f8f9fa"
          >
            <label>Severity: <span style="color:red">*</span></label>
            <select
              [(ngModel)]="severity"
              name="severity"
              id="severity"
              class="form-control"
              name="severity"
              (change) = "selectChangeSeverity(this.severity)"
            >
              <option *ngFor="let name of severityKeys" [value]="name">
                {{ severityEnum[name] }}
              </option>
            </select>
            <br />
            <label>Project ID: <span style="color:red">*</span></label>
            <input
              [(ngModel)]="bug.projectId"
              class="form-control"
              name="projectId"
            />
            <br />
            <label>Developer ID:</label>
            <input
              [(ngModel)]="bug.developerId"
              class="form-control"
              name="developerId"
            />
            <br />
            <label>Tester ID:</label>
            <input
              [(ngModel)]="bug.testerId"
              class="form-control"
              name="testerId"
            />
            <br />
            <label>Synopsis: <span style="color:red">*</span></label>
            <textarea
              [(ngModel)]="bug.synopsis"
              name="synopsis"
              id="synopsis"
              rows="2"
              cols="30"
              class="form-control"
              maxlength="50"
              (keyup)="this.valueCheckSynopsis()"
              (blur) = "this.hide()"
            ></textarea>
            <div id="text1">
              <span id="charSynopsis">50</span> <i> characters remaining</i>
            </div>
            <br />
            <label>Description: <span style="color:red">*</span></label>
            <textarea
              [(ngModel)]="bug.description"
              name="description"
              id="description"
              rows="4"
              cols="30"
              class="form-control"
              maxlength="200"
              (keyup)="this.valueCheckDescription()"
              (blur) = "this.hide()"
            ></textarea>
            <div id="text2">
              <span id="charDescription">200</span> <i> characters remaining</i>
            </div>
          </div>
        </div>
      </form>
      <br />
    </div>
    <button class="submitButton" (click)="create()">CREATE BUG</button>
  </div>
</div>
